/*
Syntax error: Undefined mixin 'grid'.
        on line 10 of /Users/sevos/Projects/logo-contest/app/stylesheets/header.sass, in `grid'
        from line 10 of /Users/sevos/Projects/logo-contest/app/stylesheets/header.sass

5:   margin-bottom: 2px
6:   
7:   
8:   #title
9:     margin-top: 11px
10:     +grid(11,16)
11:     +grid-children
12:     +alpha
13:     #logo
14:       +alpha
15:       +grid(4,16)

Backtrace:
/Users/sevos/Projects/logo-contest/app/stylesheets/header.sass:10:in `grid'
/Users/sevos/Projects/logo-contest/app/stylesheets/header.sass:10
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/mixin_node.rb:74:in `perform!'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:301:in `_perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:209:in `perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `map'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:313:in `perform!'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:301:in `_perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:209:in `perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `map'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:313:in `perform!'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:301:in `_perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:209:in `perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `map'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:322:in `perform_children'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:313:in `perform!'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:301:in `_perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/node.rb:209:in `perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/root_node.rb:37:in `perform'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/lib/sass/tree/root_node.rb:29:in `render'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin.rb:221:in `update_stylesheet'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin.rb:86:in `update_stylesheets'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin.rb:79:in `each'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin.rb:77:in `each'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin.rb:77:in `update_stylesheets'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin.rb:51:in `check_for_updates'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/haml-3.0.13/rails/../lib/sass/plugin/rack.rb:40:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/actionpack-2.3.8/lib/action_controller/string_coercion.rb:25:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/head.rb:9:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/actionpack-2.3.8/lib/action_controller/params_parser.rb:15:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/actionpack-2.3.8/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/actionpack-2.3.8/lib/action_controller/failsafe.rb:26:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:114:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/actionpack-2.3.8/lib/action_controller/reloader.rb:34:in `run'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:108:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rails-2.3.8/lib/rails/rack/static.rb:31:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/urlmap.rb:47:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `each'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rails-2.3.8/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/handler/webrick.rb:48:in `service'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/sevos/.rvm/rubies/ree-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rack-1.1.0/lib/rack/handler/webrick.rb:14:in `run'
/Users/sevos/.rvm/gems/ree-1.8.7-2010.01@grads/gems/rails-2.3.8/lib/commands/server.rb:111
script/server:3:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'grid'.\A         on line 10 of /Users/sevos/Projects/logo-contest/app/stylesheets/header.sass, in `grid'\A         from line 10 of /Users/sevos/Projects/logo-contest/app/stylesheets/header.sass\A \A 5:   margin-bottom: 2px\A 6:   \A 7:   \A 8:   #title\A 9:     margin-top: 11px\A 10:     +grid(11,16)\A 11:     +grid-children\A 12:     +alpha\A 13:     #logo\A 14:       +alpha\A 15:       +grid(4,16)"; }
