body {
  margin: 0; }

h1, h2 {
  padding-left: 10px;
  background-color: grey;
  color: white;
  font-family: Tahoma;
  margin: 0; }

#administration {
  font-family: Tahoma; }
  #administration a {
    text-decoration: none;
    color: blue; }
    #administration a:hover {
      color: red; }
  #administration p {
    margin-left: 20px; }
  #administration ul.actions {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: grey;
    display: block;
    list-style: none; }
    #administration ul.actions li {
      display: inline; }
      #administration ul.actions li a {
        margin: 10px;
        color: white;
        text-decoration: none;
        font-weight: bold; }
        #administration ul.actions li a:hover {
          background-color: black; }
  #administration table {
    margin-left: 30px;
    margin-right: auto; }
  #administration th {
    background-color: grey;
    color: white; }
  #administration table, #administration td, #administration th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px; }
    #administration table tr.odd td, #administration td tr.odd td, #administration th tr.odd td {
      background-color: silver; }
