@import grid.scss
@import text.scss
@import _button.sass
@import _clearfix.sass


@import menu.sass
@import header.sass
@import footer.sass
@import _survey.sass

#body
  +grid-system(16)
  +clearfix
  +grid-children
  #header, #content, #footer, #menu
    +grid(16,16)
    +alpha
    +omega

#content
  h1
    margin:
      top: 15px
      bottom: 10px
    font:
      weight: bold
    text-align: center

#your_vote
  p, img
    text-align: center
    margin: 0px auto
