- semantic_form_for @customer do |f|
  - f.inputs do
    = f.input :name, :label => t("Name")
    = f.input :nip, :label => t("Nip")
    = f.input :address, :label => t("Address"), :as => :text
  - f.buttons do
    = f.commit_button t("Save")